* {
   box-sizing: border-box;
   margin: 20;
   padding: 0;
}

.parent{
   display: inline-block;
}

.son{
   display: inline-block;
   border: 1px;
   border-radius: 8px;
   border-color: black;
   border-style: solid;
   width: 300px;
   height: 200px;
}

#hijo11{
   position:absolute;
   top: 30px;
   background-color: rgb(170, 170, 170);
   border-radius: 16px;
}

#hijo12{
   background-color: red;
   position: relative;
   width: 150px;
   height: 50px;
   left: 75px;
   border-right-width: 2px;
   border-right-color: black;
}

#hijo121{
   position:relative;
   width: 120px;
   top: 15px;
   left: 40px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
}

#hijo111{
   position:relative;
   width: 240px;
   top: 30px;
   left: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 07pt;
}





